[2022-10-06 09:19] salihozdemir commented on #2514
We'll look forward to your contribution 🚀

[2022-10-06 13:02] omeraplak commented on #2608
Hey @chavda-bhavik ,
Thank you for your interest! My guess is that when AuthProvider is defined, the `checkAuth` function `Promise.reject()` for unauthorized users.

https://github.com/pankod/refine/blob/next/packages/core/src/contexts/auth/index.tsx#L62

You can reproduce the issue with this example.

https://refine.dev/docs/examples/authentication/antd/

[2022-10-06 15:00] Smartmind12 commented on #1271
@ipy Can you share the code on which you have the error so that i can work on it?

[2022-10-06 15:13] Smartmind12 commented on #1627
@omeraplak Can i work on this issue if not already taken?

[2022-10-06 15:19] omeraplak commented on #1271
I did it! Happy hacking 🎁

btw
The way to reproduce this error is to create an API over [Hasura cloud](https://hasura.io/cloud/) and choose a type for the `id` field other than the `uuid` data type, for example, `integer`.
`@pankod/refine-hasura` data provider expects `uuid` by default for id column.(https://github.com/pankod/refine/blob/next/packages/hasura/src/dataProvider/index.ts#L133).

You c

[2022-10-06 15:27] Smartmind12 commented on #1627
I would like to work on it just now!

[2022-10-06 20:09] lex111 commented on #2624
@omeraplak could you please give instructions on how to resolve this issue?

[2022-10-07 02:22] chavda-bhavik commented on #2608
Thanks, @omeraplak For a clear explanation, I got your point. I see that everywhere we're using `Promise.reject()` to indicate the user is Unauthenticated.

So I think we have to remove logging for the unauthenticated user from `refine/core` so that the `checkAuth` function does not log in console when the user is `Unauthenticated (Promise.reject)`. Am I on right track?

[2022-10-07 04:11] trishitapingolia opened #2662 "Fix all broken img links in docs/api reference"
### Issues:
Many files like clone.md, create.md, etc have a lot of broken links.

[2022-10-07 04:11] trishitapingolia commented on #2662
#self-assign

[2022-10-07 04:13] trishitapingolia commented on #2662
#2661 one of the examples of this issue.

[2022-10-07 05:28] omeraplak commented on #2608
Yes, you are right @chavda-bhavik

[2022-10-07 06:36] Prabesh-Shrestha commented on #2531
hey i'd like to work on this

[2022-10-07 07:29] jsbrain opened #2665 "[FEAT] Allow passing custom queryClient instance"
It's currently not possible to pass a queryClient to refine.

This make invalidating queries from outside react context really hard as this can currently only be done using the `useInvalidate` hook.

Passing your own queryClient would allow sharing the queryClient instance with other parts of the application, even other frameworks.

[2022-10-07 07:33] salihozdemir commented on #2531
Hey @vehas,

We are still discussing among ourselves about the guesser feature. If you create a PR for this, it probably will not merge because of it's a big feature. We want to add some game changer things, so we've decided to remove the hactoberfest label.

If you are looking for an issue for hacktoberfest, I can recommend to you #2127. 🚀

[2022-10-07 07:33] #2662 closed

[2022-10-07 08:03] salihozdemir commented on #2665
Hey @jsbrain,

Yes you cannot pass the queryClient, but you can configure queryClient like this:
https://refine.dev/docs/api-reference/core/components/refine-config/#reactquery.
Also, If you need to use queryClient you can get current queryClient instance like this: https://tanstack.com/query/v4/docs/reference/useQueryClient

[2022-10-07 08:17] jsbrain commented on #2665
@salihozdemir yes, that's what I just said. I know the hook can be used to receive the query client. But it's a react hook, which means it can only be used inside react.

There are times you'd want to access the queryClient outside of react.

I don't think allowing to pass the client would be hard to achieve. It could still be merged with the existing options.

[2022-10-07 09:49] aliemir commented on #2665
Hey @jsbrain, it makes sense to have the option to pass `queryClient` and then you can have the necessary flexibility to access it from outside of React. We added this to our todo list and prioritized. We're aiming to release it with the next minor version (probably today or tomorrow)

[2022-10-07 12:48] malixsys opened #2671 "[DOC] Wording is confusing for advanced-tutorials/ssr/remix.md"
**Is this issue related to an existing part of the documentation? If so, please provide a link**
[Remix SSR Doc](https://github.com/pankod/refine/blob/master/documentation/docs/advanced-tutorials/ssr/remix.md)

**Describe the thing to improve**
Refine wraps Outlet and not vice versa

**Describe the solution (optional)**
Reword the doc

[2022-10-07 12:53] malixsys commented on #2671
https://github.com/pankod/refine/pull/2672

[2022-10-07 13:16] omeraplak commented on #2671
Thank you! 🎁

[2022-10-07 13:16] #2671 closed

[2022-10-07 14:34] alicanerdurmaz commented on #2665
Hi @jsbrain, we implement this feature and released [@pankod/refine-core@3.78.0](https://github.com/pankod/refine/releases/tag/%40pankod/refine-core%403.78.0)

Thank you for opening the issue 🙏

[2022-10-07 14:35] #2665 closed

[2022-10-07 21:22] AbhishekTiwari23 opened #2676 "over lapping of content of navbar"
**Describe the bug**
I found that Github, store and version are overlapping over each other. You can figure it out through this attachment.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Google chrome on MAC
2. Click on refine website/ tutorial page or hacktoberfest page
4. See the error on the navbar of the page.

**Expected behaviour**
There should be no overlapping of the content

[2022-10-07 21:23] AbhishekTiwari23 commented on #2676
And please guide me for some UI/UX-based issues if available. I want to contribute to this project. Thanks

[2022-10-08 04:06] amit-ksh commented on #2514
Hey @salihozdemir! I fixed all the errors raised by webpack in Refine Casbin Example app.

What I have done -

1) Upgraded the webpack to the latest version i.e. 5.0.1
     - **Reason**: webpack 4 does not support the nullish coalescing and optional chaining
1) Uses the react-app-rewired package for overriding the webpack config to support polyfills.
     - **Reason**: app created using `create-re

[2022-10-08 05:24] omeraplak commented on #2676
Hey @AbhishekTiwari23 ,
Thank you! If you want to try to fix the issue, you can review our contributing document 🚀
https://refine.dev/docs/contributing/#starting-documentation-in-watch-mode

[2022-10-08 05:45] AbhishekTiwari23 commented on #2676
Thanks @omeraplak, I will make a pr as soon as possible

[2022-10-08 08:18] AbhishekTiwari23 opened #2677 "Issue on the home page"
**Describe the bug**
I am not clear whether it is a bug or not, but it looks not good to me as most of the content is behind the navbar, which is not readable properly
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Refine home page
3. View on the top just below the navbar.
4. See the error

**Expected behaviour**
<img width="1440" alt="Screenshot 2022-10-08 at 1 43 01 PM" src="https:/

[2022-10-08 15:03] rayphilip141 commented on #2665
Hey 👋

[2022-10-08 15:41] Ruchika30 commented on #2592
hey @omeraplak . I would like to try this as well. Kindly assign it to me too

[2022-10-08 15:52] Ruchika30 commented on #2127
hi @omeraplak  . Is this issue still open that we need to look into ?

[2022-10-08 15:53] Ruchika30 commented on #1271
Hi @omeraplak  Can I look into it .?

[2022-10-08 16:18] omeraplak commented on #2127
I did it! Happy hacking! 🚀

[2022-10-08 16:30] omeraplak commented on #2592
Hey @Ruchika30 ,
Sorry, @bungambohlah already did it 🚀

[2022-10-08 16:50] Smartmind12 commented on #1271
Hey @Ruchika30 i was busy for a while these days but i am almost done working on this issue… so would kindly checkout other issues in the meanwhile… Thanksalot!

[2022-10-08 21:21] AyushK-101 commented on #1550
I would like to work on this

[2022-10-09 02:43] omeraplak commented on #1550
Happy hacking! 🚀

[2022-10-09 10:37] vcvedika commented on #2677
Can I work on this issue if it hasn't been assigned yet?

[2022-10-09 10:51] #2677 closed

[2022-10-09 18:48] Manethpak opened #2681 "[DOC] Typo and odd phrase in landing page"
**Is this issue related to an existing part of the documentation? If so, please provide a link**
Typo on footer and odd phrase in landing page
( Joining hacktober )

**Describe the thing to improve**
- Typo in footer "whereever"
![image](https://user-images.githubusercontent.com/58499300/194773721-405f2de7-6827-45d2-bf66-e65cde94d7a7.png)

- The phrase "Come to dark side" is oddly phrase with gram

[2022-10-09 18:56] Alcadeus0 commented on #2681
hi, can i fix this?

[2022-10-09 20:30] developer-diganta opened #2683 "[FEAT] Add hover to socials in page"
**Describe the bug**
Currently there is no hover effect for the socials icon on the docs page.  A hover over the icons would make it better recognizable to the user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://refine.dev/docs/getting-started/overview/](https://refine.dev/docs/getting-started/overview/)
2. Go to footer section
3. Point to any socials icon
4. See error

**Ex

[2022-10-10 06:26] #2681 closed

[2022-10-10 07:56] sevkioruc commented on #2683
Hi everyone,
If this issue has no owner, can I take over it?

[2022-10-10 08:23] alicanerdurmaz commented on #2683
Hi @developer-diganta Thanks for the issue 🙏

We discussed with core team, and we decide this is not a bug, this is a design choice.
But we like your idea.

Do you wanna work on this issue ?

For example:
When icons are hovered, icon color can change to brand color.

[2022-10-10 08:25] developer-diganta commented on #2683
Yes! Sure would love to work on it!

[2022-10-10 08:29] sevkioruc commented on #2683
Thanks @alicanerdurmaz. agreed :),
Good luck :) @developer-diganta

[2022-10-10 13:50] CyberGeni commented on #2676
hi @omeraplak is there anyone working on this? i want to work on it. if no one, please assign me

[2022-10-10 14:03] aliemir commented on #2676
Hey @CyberGeni, @AbhishekTiwari23 showed interest to work on this issue but if they are not going to work on it, you can get this one. Let's ask @AbhishekTiwari23 about it; what's the progress on this issue, can we expect a PR soon or do you want to leave it to the @CyberGeni ?

[2022-10-10 14:41] AbhishekTiwari23 commented on #2683
I am also ready to work on this with my setup. I am waiting

[2022-10-10 15:11] aliemir commented on #2676
Thank you for the clarification @AbhishekTiwari23, closing this issue for now, maybe we can re-visit the layout of Navbar in the future

[2022-10-10 15:11] #2676 closed

[2022-10-10 15:26] AbhishekTiwari23 commented on #2676
Thanks, sir, if there is any UI UX issue, please let me know, hover effect or anything. I am ready to serve the community

[2022-10-10 17:00] vinclou opened #2692 "[BUG] useSelect Ignores fetchSize"
### Discussed in https://github.com/pankod/refine/discussions/2691

<div type='discussions-op-text'>

<sup>Originally posted by **vinclou** October 10, 2022</sup>
### Deps:

    `"@pankod/refine-antd": "^3.53.0",`
    `"@pankod/refine-core": "^3.78.0",`

### Example:

[code]

This will get you the correct data back, but in the network tab you will see 2 queries being made one `without params` and

[2022-10-10 17:08] vinclou commented on #2692
### I figured what's causing this:

`If u override queryOptions obj, the double fetch bug appears, removing it solves the problem`

Yet it is an issue, as metadata select is pretty much stale data that doesn't change quite often. A long staleTime on metaData queries is preferable.

[code]

[2022-10-10 18:33] saimaheshtaduri opened #2693 "[FEAT]empty results section in refine store"
**Is your feature request related to a problem? Please describe.**
In refine store, when there are no results matching to search string, it is showing blank page.

![Screenshot (42)](https://user-images.githubusercontent.com/53844369/194931401-660790bf-fa4a-493c-816a-8b177d8b3e28.png)

**Describe the solution you'd like**
Instead of showing a black screen , there can be a empty results section ( w

[2022-10-10 18:40] saimaheshtaduri opened #2694 "[BUG] bug in the store search"
**Describe the bug**
whenever I searched for an item ( say **bottle** ), I am getting a weird answer.
![Screenshot (43)](https://user-images.githubusercontent.com/53844369/194932107-c6d5d0d5-f7a8-4ae0-81e3-cbc8ac2f7ba5.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://store.refine.dev/'
2. type say **bottle** in search box
3. See error

**Expected behavior**
It just has to

[2022-10-10 18:44] saimaheshtaduri opened #2695 "[FEAT]hover effect on cards in blog"
**Is your feature request related to a problem? Please describe.**
at present, there is no effect on hover over the cards in the blog page.

**Describe the solution you'd like**
I feel it can be better if there is a minimal hover effect when hovered over cards. It even tells signifies the end user well.

[2022-10-10 23:34] shikhar13012001 commented on #2695
I would like to work on this issue @saimaheshtaduri

[2022-10-11 00:37] R3flector commented on #1971
Spent 2 hours before realizing I needed version 3 of strapi

[2022-10-11 03:26] Smartmind12 opened #2696 "[FEAT]Reorganizing Store Page"
**Is your feature request related to a problem? Please describe.**
Once you arrive at (https://store.refine.dev/) and scroll for products you can witness white black space next to the water bottle.

**Describe the solution you'd like**
Rearranging the layout of pictures on the Store page to make it look more streamligned and remove the white space.

![Screenshot 2022-10-11 at 8 47 41 AM](https://u

[2022-10-11 03:39] Smartmind12 opened #2697 "[BUG]Products not displayed on Store page"
**Describe the bug**
Products like Cap, Coasters and Stickers are not displayed in the Front Store page. Making users think that only limited items are available in the store, which is not the case!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '(https://store.refine.dev/)'
2. Checkout the page
3. See error

**Expected behavior**
Adding these products to the Front Store Page so that

[2022-10-11 03:46] Smartmind12 commented on #1271
@Ruchika30 I am unable to solve this issue...if you are still interested then you can have a shot at it!! Goodluck!

[2022-10-11 03:54] Smartmind12 opened #2698 "[FEAT]Add Announcement Bar"
**Is your feature request related to a problem? Please describe.**
Currently there is no Announcement Bar feature in the Home Page (https://refine.dev/). This Feature is useful for all users coming to the landing page can be aware of announcements/alerts like.."Refine releasing version 3.x.x" or "Refine participating in Hacktoberfest"

**Describe the solution you'd like**
Addition of the announcem

[2022-10-11 05:02] omeraplak commented on #1971
Sorry to hear that. We should clearly state this in our documents

[2022-10-11 06:53] aliemir commented on #2698
Hey @Smartmind12, we already have an announcement bar feature coming from the Docusaurus, there are no announcements now so you might have skipped it 😅 Thank you for the issue but closing this for now.

[2022-10-11 06:53] #2698 closed

[2022-10-11 06:58] aliemir commented on #2697
Thank you for the issue @Smartmind12 🙏 , this is actually by design, we don't want to show all the products since we're expecting to have a lot more swag to be added in the following months, it's not going to look good to try to show all of them on the home page. Closing this for now but let us know if you see any other errors in the https://store.refine.dev 🚀

[2022-10-11 06:58] #2697 closed

[2022-10-11 07:18] aliemir commented on #2694
Hey @saimaheshtaduri, thank you for the issue! Looks like there's a problem with the conditional rendering of the result texts 😅 If you like to work on this issue, feel free to open a PR otherwise @sevkioruc is willing to work on this one 🚀

[2022-10-11 07:20] aliemir commented on #2694
Hey @sevkioruc thank you for your interest on this issue, we think it will be better to wait @saimaheshtaduri's action before assigning it to you, thank you for your patience. You can have the issue if @saimaheshtaduri wants to skip it.

[2022-10-11 07:22] aliemir commented on #2693
Hey @saimaheshtaduri thank you for the issue, I think this is related with the #2694. If you want to work on this one, feel free to open a PR. 🚀

[2022-10-11 07:31] aliemir commented on #2695
Hey @saimaheshtaduri thank you for the issue 🙏 but we've decided to keep the cards as it is, currently card-wide hover effects are not in our design

[2022-10-11 07:32] aliemir commented on #2695
Hey @shikhar13012001 thank you for your interest in this issue, we're closing this for now but you can check out the other issues on refine 🚀 🚀

[2022-10-11 07:35] sevkioruc commented on #2694
Hi @aliemir thank you for your comment. I am waiting for now :)
Good luck @saimaheshtaduri.

[2022-10-11 07:38] salihozdemir commented on #2696
Hey @saimaheshtaduri thank you for the issue, It is not about the front-end side, we've forwarded the issue to the relevant teams. 👊🏻

[2022-10-11 07:39] vatana7 opened #2699 "[DOC] typo found in ```util/split-code.ts```"
**Is this issue related to an existing part of the documentation? If so, please provide a link**
Comment typo inside util/split-code.ts

**Describe the thing to improve**
Removing typo inside comment

**Describe the solution (optional)**
<img width="729" alt="image" src="https://user-images.githubusercontent.com/61142258/195025472-6e5a7de8-056c-4b90-a609-591bd1b31312.png">

[2022-10-11 07:43] alicanerdurmaz commented on #2692
@vinclou Thank you for the issue 🙏

We prioritized this bug and we will solve it as soon as possible.

[2022-10-11 08:35] #2699 closed

[2022-10-11 08:37] omeraplak commented on #2696
Hey @Smartmind12 ,
We've fixed the issue! Thank you 💥

[2022-10-11 08:37] #2696 closed

[2022-10-11 08:41] superiorsd10 opened #2702 "[BUG]Typo in the Footer"
**Describe the bug**
There is a typing mistake in the footer on the website. It should be `wherever` instead of `whereever`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'website'
2. Scroll down to the 'footer'
3. See typo

**Expected behavior**
The spelling should be corrected.

**Screenshots**
![SCR-20221011-jm6](https://user-images.githubusercontent.com/92971894/195041837-4c9cad0

[2022-10-11 08:42] omeraplak commented on #2702
Hey @superiorsd10 ,
Thank you for reporting the issue! We've already fixed it and will release it soon!

[2022-10-11 08:42] #2702 closed

[2022-10-11 08:45] jsbrain commented on #2665
Amazing, that really helps a ton! Thank you 🥳

[2022-10-11 09:25] alicanerdurmaz commented on #2692
@vinclou Hi again, we solved the problem. We will merge fix today. Thanks for the issue 🙏

[2022-10-11 10:22] alicanerdurmaz commented on #2683
Hi @AbhishekTiwari23 @NightHack36, @developer-diganta is already working on this issue. We can talk again if anything changes.

[2022-10-11 10:24] #2692 closed

[2022-10-11 10:25] alicanerdurmaz commented on #2592
Hi @estemomento @bungambohlah , We released this feature. Thanks for your contributions 👊

[@pankod/refine-core@3.80.0](https://github.com/pankod/refine/releases/tag/%40pankod%2Frefine-core%403.80.0)
[@pankod/refine-antd@3.55.0](https://github.com/pankod/refine/releases/tag/%40pankod%2Frefine-antd%403.55.0)

[2022-10-11 10:25] #2592 closed

[2022-10-11 11:14] AbhishekTiwari23 commented on #2683
Ok, If there is any UI/UX issue, please let me know.
Thanks

[2022-10-11 11:23] harshagrawal523 opened #2710 "[DOC] Grammatical Error in Readme File"
**Is this issue related to an existing part of the documentation? If so, please provide a link**
The section can be accessed from [here](https://github.com/pankod/refine#what-do-you-mean-by-headless-)

**Describe the thing to improve**
There were a few grammatical and punctuation errors in the document. (Improved in the PR)

**Describe the solution (optional)**
Wholesome documentation provides a b

[2022-10-11 11:31] harshagrawal523 commented on #2710
@aliemir Please review the [PR](https://github.com/pankod/refine/pull/2711) here. Thanks!

[2022-10-11 12:22] mananbansal2002 commented on #2683
i would like to work on this issue can you please assign it to me?

[2022-10-11 13:46] saimaheshtaduri commented on #2694
Yes, I would like to contribute. please assign the issue to me.

[2022-10-11 13:51] omeraplak commented on #2694
Happy hacking! 🧭

[2022-10-11 14:21] aliemir commented on #2710
Hey @harshagrawal523 thank you for the issue and the quick PR 🚀 Leaving a quick review to the PR now.

[2022-10-11 14:27] #2710 closed

[2022-10-11 14:38] harshagrawal523 commented on #2710
@aliemir How can we claim the Refine Swag Tshirt?

[2022-10-11 16:50] developer-diganta commented on #2683
@alicanerdurmaz I wanted to know how to start the server? I ran npm start but I got the error "tsup" is not recognised.

[2022-10-11 19:39] sevkioruc commented on #2683
@developer-diganta Maybe it (https://refine.dev/docs/contributing/) might help you.

[2022-10-12 06:38] alicanerdurmaz commented on #2683
@developer-diganta https://refine.dev/docs/contributing/ You can follow this guide.
You can join our [discord](https://discord.com/invite/refine) server if you want. We can answer faster on discord

[2022-10-12 08:59] aliemir commented on #2608
Hey @chavda-bhavik, thank you for raising this issue! Let me explain the process here a bit further.

When you pass the `authProvider` prop to `<Refine/>` component, authentication becomes a part of the routing process (router providers use the `useAuthenticated` hook for this). At the initial rendering, router provider tries to determine the initial route which includes the authentication check.

[2022-10-12 08:59] #2608 closed

[2022-10-12 09:40] salihozdemir commented on #2514
Hey @amit-ksh,
First, sorry for my late response I missed the notification.
Great job! 🎉  We can't wait to merge. Could you want to open a PR?

[2022-10-12 09:51] amit-ksh commented on #2514
I wanted to confirm that I have to make changes in the docs right?

[2022-10-12 10:08] amit-ksh commented on #2514
OK! I'll try to create PR as soon as possible.

[2022-10-12 12:26] syed1RehanAhmed opened #2724 "[BUG] startswithoperator not supported in hasura dataprovider"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-12 14:40] #2724 closed

[2022-10-12 14:49] kailashchoudhary11 opened #2729 "[DOC] Adding Discord Link in Contribution Section of Readme"
**Describe the thing to improve**
Discord Link Can be provided in the contribution section of the readme file!

[2022-10-12 14:51] kailashchoudhary11 commented on #2729
@omeraplak If this seems valid let me know, I would like to work on it.

[2022-10-12 14:54] omeraplak commented on #2729
Hey @kailashchoudhary11 ,
It would be great! 🚀

[2022-10-12 15:26] omeraplak commented on #2724
Hey @syed1RehanAhmed ,
We've released `@pankod/refine-hasura@4.15.0` 💥

[2022-10-13 04:07] ShravaniAK opened #2733 "[FEAT]add hover effect the the footer links"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-13 04:08] ShravaniAK commented on #2733
please assign me this issue

[2022-10-13 04:25] s-vamshi opened #2734 "[BUG] Dark mode in set in /docs affecting about page text"
**Describe the bug**
When light mode is set in docs page, about page content is readable. But when we switch to dark mode, the content in about page is almost unreadable because the text as well as the background are almost similar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /docs page
2. Click on switch theme(mode) button to change the page in dark mode
3. Go to /about page
4. Ch

[2022-10-13 04:27] s-vamshi commented on #2734
@aliemir I would like to work on this issue. Can you assign this to me?

[2022-10-13 05:10] syed1RehanAhmed opened #2735 "[BUG] unable to add nested filter to jsonb object in setFilters function in hasura data provider"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-13 06:50] aliemir commented on #2734
Hey @s-vamshi thank you for the issue and your interest to refine! Assigning this on you, waiting for your PR 🚀

[2022-10-13 06:57] s-vamshi commented on #2734
@aliemir Thanks for assigning this to me.
I have a doubt -
There are two ways to solve this problem
1. enable switch mode button in  about page
2. adding text dark style to about page
Any suggestions on which approach should i use?

[2022-10-13 06:59] s-vamshi commented on #2734
And just wanted to know where this issues PR will get counted towards hacktoberfest?

[2022-10-13 07:04] omeraplak commented on #1271
Hey @Ruchika30 ,
If you are still interested I assigned you. Happy hacking!

[2022-10-13 07:05] aliemir commented on #2734
@s-vamshi added tags for hacktoberfest, it should be counted now.

For the fix, dark mode toggle is hidden in the about page by design. Adding a text color will be enough to fix it, if I remember correctly the color should be `#2A2A2A`. Tailwindcss usage is encouraged 🚀

Happy hacking!

[2022-10-13 07:06] salihozdemir commented on #2735
Hey @syed1RehanAhmed,

It is not a bug, it is a feature request. If you want to this you should create a feature request issue with feature request template. Also, we have planned to change the our filter system. For now you can override the dataProvider as you want then you can use `metaData` and do whatever you want.

[2022-10-13 07:32] #2683 closed

[2022-10-13 07:32] s-vamshi commented on #2734
@aliemir thanks for your instant response. I have create a PR an you please review it?

[2022-10-13 07:40] omeraplak commented on #2624
Yes! Happy hacking 💥

[2022-10-13 07:43] alicanerdurmaz commented on #2733
@ShravaniAK Hi,

Hover effect already added to social links: [PR](https://github.com/pankod/refine/issues/2683)

Hover effect already have on navigation links.
![image](https://user-images.githubusercontent.com/23058882/195533530-da735d95-2467-48a0-a055-fea66d1d4058.png)

Which part for footer do you want to add an effect?

[2022-10-13 07:45] ShravaniAK commented on #2733
i will make the words bolder on hovering

[2022-10-13 07:45] ShravaniAK commented on #2733
now only an underline is there

[2022-10-13 07:49] alicanerdurmaz commented on #2733
Thank you for idea 🙏  but we think this is not fit our design language.

[2022-10-13 07:49] #2733 closed

[2022-10-13 07:50] #2735 closed

[2022-10-13 08:02] ShravaniAK opened #2738 "[BUG]on opening the cart and after that login page the cross option to close the cart is not present."
<img width="1440" alt="Screenshot 2022-10-13 at 1 30 12 PM" src="https://user-images.githubusercontent.com/97099574/195537775-5e168f17-717a-42d1-b7f0-860c1dca5453.png">

[2022-10-13 08:07] ShravaniAK opened #2739 "[FEAT]change the opacity of the slider buttons in mobile mode."
<img width="1440" alt="Screenshot 2022-10-13 at 1 36 09 PM" src="https://user-images.githubusercontent.com/97099574/195538918-95e88c60-3a90-49a0-ad07-239052c3670d.png">

[2022-10-13 08:15] abhay-ag commented on #2739
Hii, I would like to work on this.

Can you please elaborate a little bit more

[2022-10-13 08:18] ShravaniAK commented on #2739
i am already in queue for getting this issue assigned to me

[2022-10-13 08:28] aliemir commented on #2738
Hey @ShravaniAK, I think there's a bit confusion 😅 When you open the cart, it opens a drawer; when you click on the user to log in, it opens a modal and closes the drawer. When you close the modal, you end up with the product detail page without the drawer. They look alike so might be the cause of the confusion but there's no bug here 😅 Please reach out if you have any more issues 🙏

[2022-10-13 08:28] #2738 closed

[2022-10-13 08:30] aliemir commented on #2739
@ShravaniAK Thank you for the issue, maybe we can do half the opacity + smaller size for the buttons? Can you work on this like that? If so, let me assign this issue to you 🚀

[2022-10-13 08:32] ShravaniAK commented on #2739
yes i can  work on this

[2022-10-13 08:32] aliemir commented on #2739
@abhay-ag Thank you for your interest in this issue but looks like @ShravaniAK wants to work on this one as well. You can check out other issues and maybe you can find something you might want to look at 🚀 🚀

[2022-10-13 08:34] aliemir commented on #2694
Hey @saimaheshtaduri, what's the progress on this issue? Were you able to take a look at this? If you are not able to take this one maybe we can re-assign to someone else?

[2022-10-13 08:35] saimaheshtaduri commented on #2694
Yes.im working on it. Give me a day or two

[2022-10-13 09:35] s-vamshi opened #2744 "[BUG] Login and sign in text on button can only be seen when hovered in refine store"
**Describe the bug**
Login text on button in  login model is not visible until hovered.
Sign In text on button in sign in model is not visible until hovered.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://store.refine.dev/
2. Click on login button
3. Below password field there is a login button but the text is not visible until hovered.
4. Same happens with sign in button in

[2022-10-13 09:36] s-vamshi commented on #2744
@aliemir I would like to work on this issue. Can you please assign this to me?

[2022-10-13 10:48] omeraplak commented on #2744
Hey @s-vamshi ,
I did. Happy hacking!

[2022-10-13 11:23] s-vamshi commented on #2744
@omeraplak Thanks for assigning this to me. Will this issues PR count towards hacktoberfest?

[2022-10-13 12:04] #2744 closed

[2022-10-13 13:51] Manethpak opened #2753 "[FEAT] Update issue template"
**Is your feature request related to a problem? Please describe.**
This feature request is not related to any problem of the project functionality nor documentation. I'm making this request to update the project current issue template to GitHub new [issue form](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms). This will abl

[2022-10-13 13:56] omeraplak commented on #2753
Wow looks so cool! Thank you 🎉

[2022-10-13 14:04] #2753 closed

[2022-10-13 16:38] kailashchoudhary11 opened #2759 "[BUG] Invalid Link in Readme"
### Describe the bug

the contributor covenant link is redirecting to 404 page not found.

### Steps To Reproduce

Go to Readme File and click on Contributor Covenant link

### Expected behavior

it should redirect to a valid Contributor Covenant Page.

### Screenshot

_No response_

### Desktop

_No response_

### Mobile

_No response_

### Additional Context

_No response_

[2022-10-13 16:38] kailashchoudhary11 commented on #2759
@omeraplak If the bug seems valid to you I would like to fix it!

[2022-10-13 19:40] toukirkhan commented on #2624
@omeraplak can you provide more details to me or explain more about the issue?

[2022-10-14 06:07] omeraplak commented on #2759
Hey @kailashchoudhary11 ,
I couldn't find this link on README but you can create a PR

[2022-10-14 06:18] omeraplak opened #2760 "[FEAT] Amazon Cognito Auth Provider Support"
### Is your feature request related to a problem? Please describe.

It would be great if we set up an example for Amazon Cognito.

### Describe alternatives you've considered

_No response_

### Additional context

https://refine.dev/docs/examples/auth-provider/auth0/
https://github.com/pankod/refine/tree/master/examples/authProvider

### Describe the thing to improve

We can create a quick starti

[2022-10-14 06:39] kaustav202 opened #2761 "[DOC] Improve refine-config.md"
### Documentation issue

The current refine-config markdown file ( under api-reference docs ) has a lot of grammatical, contextual and also spelling errors.

### Describe the thing to improve

The issues highlighted above need to be fixed for better readability and making it easier to familiarize with the project

### Describe the solution (optional)

_No response_

[2022-10-14 06:40] kaustav202 commented on #2761
I'd like to work on this

[2022-10-14 07:02] #2759 closed

[2022-10-14 07:13] alicanerdurmaz commented on #2761
Hi @kaustav202, Thank you for helping us 🙏  I assigned issue to you.

By the way, the purpose of [refine-config.md](https://github.com/pankod/refine/blob/next/documentation/docs/api-reference/core/components/refine-config.md) is to be compiled with "docusaurus" and read from our [website](https://refine.dev/docs/api-reference/core/components/refine-config/).

You can follow this [guide](https://re

[2022-10-14 07:27] omeraplak commented on #2624
Hey @toukirkhan ,
The `useTable` hook allows filtering with an external form. You can view an example here. https://example.admin.refine.dev/orders?pageSize=10&current=1

When `syncWithLocation` is enabled in `useTable`, all filters start to sync with the URL, so when you share this link with someone else, the filters are applied to that client as well.

For example, when you enter this URL, pay a

[2022-10-14 07:29] toukirkhan commented on #2624
@omeraplak yeah I got it!!

[2022-10-14 07:31] omeraplak opened #2764 "[FEAT] PocketBase Data & Auth & Live Provider"
### Is your feature request related to a problem? Please describe.

[PocketBase](https://pocketbase.io/) is an Open Source backend service. Writing [Data](https://refine.dev/docs/api-reference/core/providers/data-provider/), [Auth](https://refine.dev/docs/api-reference/core/providers/auth-provider/), and [Live](https://refine.dev/docs/api-reference/core/providers/live-provider/) Provider for refin

[2022-10-14 08:04] salihozdemir commented on #2633
Hey @RachitGarg-12,

We look forward to this PR, how is progress in your work? If you need a help please feel free to get in touch us.

[2022-10-14 09:09] salihozdemir opened #2765 "[BUG] Fix eslint warnings on whole examples"
### Describe the bug

All examples has a known eslint warning like following:

[code]

It can be solved like this:

[code]

Also, some variables, types or functions are declared but not using.

### Steps To Reproduce

1. `npm run bootstrap`
2. `npm run bootstrap -- --scope "example-name"`
3. `npm run start -- --scope "example-name"`
4. Shows eslint warnings and errors in the terminal.

### Expecte

[2022-10-14 09:19] #2514 closed

[2022-10-14 09:27] omeraplak commented on #2514
Thank you @amit-ksh 🎁

[2022-10-14 09:35] sevkioruc commented on #2765
Hey @salihozdemir,
If it is available, I'd like to work on.

[2022-10-14 09:42] sevkioruc commented on #2765
thank you so much! 😅 @salihozdemir.

[2022-10-14 12:40] Smartmind12 commented on #2760
@omeraplak can you assign it to me and i will try to have a shot at it ??

[2022-10-14 12:57] omeraplak commented on #2760
Hey @Smartmind12 ,
Thank you for your interest. Have you any experience with AWS Cognito?

[2022-10-14 14:08] Smartmind12 commented on #2760
Hey, yes i have worked on it during my hackathons so i have knowledge about it

[2022-10-14 14:10] omeraplak commented on #2760
Cool, Happy Hacking! 🚀

[2022-10-14 14:48] prakhar-198 commented on #2739
Hey @abhay-ag is still something left to do. If so please assign me.

[2022-10-14 18:16] dgelineau opened #2768 "[BUG] Mantine AuthPage hooks incorrect"
### Describe the bug

The AuthPage exported by refine-mantine is calling the useLogin() hook for the Register, ForgotPassword, and UpdatePassword instead of their respective hooks exported from the core library. As a result; filling out the form and submitting on any of these pages will result in the login function being called in the authProvider.

### Steps To Reproduce

1. Go to any of the page

[2022-10-14 18:19] omeraplak commented on #2768
Hey @dgelineau ,
Thank you for reporting issue. Anyone want to do? 👀

[2022-10-14 19:27] toukirkhan commented on #2624
@omeraplak am unassigning myself as I am not able to create the output required over here. Thank you!

[2022-10-14 22:12] jerempy opened #2770 "[FEAT] Add i18n to pages/ready to match other components"
### Is your feature request related to a problem? Please describe.

There is a missing `useTranslate` hook in the pages.ready component at: [](https://github.com/pankod/refine/blob/next/packages/core/src/components/pages/ready/index.tsx)

All of the other componets in `/src/components/pages/pages` make use of the translate feature so I would like to add it there.

### Describe alternatives you've

[2022-10-15 05:24] #2768 closed

[2022-10-15 05:26] omeraplak commented on #2770
Hey @jerempy ,
Thank you for contacting us! Is there a real use case for the ready page? A welcome screen only when the empty refine project is opened

[2022-10-15 06:11] kaustav202 opened #2773 "[DOC] Improve react-hook-form-validation.md"
### Documentation issue

The [react-hook-form-validation.md](https://github.com/pankod/refine/blob/next/documentation/blog/2022-09-27-react-hook-form-validation.md) under blogs has a few typos and grammatical  errors

### Describe the thing to improve

Fix the errors in the blog

### Describe the solution (optional)

_No response_

[2022-10-15 06:11] kaustav202 commented on #2773
I'd like to solve this

[2022-10-15 07:12] omeraplak commented on #2773
Happy hacking 🚀

[2022-10-15 08:42] chaiwattsw commented on #2633
Any update on this? if not I would like to take

[2022-10-15 09:43] Mohammad-Palla commented on #2624
I want to work on it. Please assign it to me

[2022-10-15 12:21] jerempy commented on #2770
Hey there @omeraplak its just something I noticed since all the components in this folder use translate but this one doesn’t for some reason.  If you think it’s unimportant feel free to close the issue

[2022-10-15 12:32] Ruchika30 commented on #1271
I am facing issues while running the repo. I am following the guide . I did
npm install
npm run bootstrap, as I did not know which package to install. Then I did npm run start. But then I can see lots of issues getting listed in the terminal. Can u pls help me , what am I doing wrong  ? @omeraplak

 @omeraplak

[2022-10-15 12:37] #2770 closed

[2022-10-15 12:37] salihozdemir commented on #2633
Hey @chaiwattsw,

@RachitGarg-12 is not giving an answer. So, I've assigned to you this issue. Enjoy! 🥳

[2022-10-15 12:38] omeraplak commented on #1271
Hey @Ruchika30 👋,
Could you share terminal logs? ⚡️

[2022-10-15 12:42] Ruchika30 commented on #1271
<img width="992" alt="Screenshot 2022-10-15 at 6 11 16 PM" src="https://user-images.githubusercontent.com/16018506/195986973-9dab59c7-a6e3-4d2f-b2cf-ab7e7114c910.png">
 @omeraplak

[2022-10-15 12:42] chaiwattsw commented on #2633
Thanks! @salihozdemir

[2022-10-15 13:33] omeraplak commented on #1271
Could you check your node version? Your node version must be at least 16.14

[2022-10-15 14:16] sevkioruc commented on #2694
Hey @saimaheshtaduri,
If you stopped working on, can i work on this issue?

[2022-10-15 14:55] BhaskarKarnatak commented on #2773
I would like to work on this. It is possible for you to assign me this issue.

[2022-10-15 16:22] chaiwattsw commented on #2633
@salihozdemir @omeraplak Could you please explain in more detail what should be done?
from what I understand is to add playwright to examples?

[2022-10-15 18:33] kumar-kalyan commented on #2764
Hey there @omeraplak can I work  on this issue

[2022-10-15 18:40] omeraplak commented on #2764
I did it! Happy hacking 🚀

[2022-10-15 18:48] kumar-kalyan commented on #2764
Hey @omeraplak  to  solve this  issue  I have to create a package for integrating pocket base right ?

[2022-10-16 02:42] CodeWAdi opened #2776 "[FEAT] Enhancement of the footer section"
### Is your feature request related to a problem? Please describe.

![2022-10-16](https://user-images.githubusercontent.com/110481392/196015218-9bd98ba9-9f3a-4997-921b-46b9919659dc.png)

The footor section of the website looks kinda simple and not upto the par with the entire website , the overall webite looks so amazing but the links section in the footor is simple incomparison to the overall web

[2022-10-16 02:45] CodeWAdi commented on #2776
#self-assign

[2022-10-16 03:14] amit-ksh commented on #2765
Hey @sevkioruc! can you add the `examples/` in the `.eslintignore` file in the project's root directory? This will ignore the eslint checks in the `examples/` folder and probably fixes the issue.

Also could you please replace all the lines in the casbin example `.eslintignore` file with
[code]

And sorry for these issues, I should first check all the changes before creating the PR.

[2022-10-16 04:38] CodeWAdi opened #2777 "[BUG] Updating the my profile icon"
### Describe the bug

![2022-10-16 (2)](https://user-images.githubusercontent.com/110481392/196017980-02b3ea0e-d277-4960-9f26-592bb4417df6.png)

The  Profile Icon looks so simple and the icon need to something that tells the user that its the profile icon and the current icon lacks that

### Steps To Reproduce

Go to "https://store.refine.dev/"
The top uppermost right corner

### Expected behavior

[2022-10-16 08:13] sevkioruc commented on #2765
Hey @amit-ksh , thank you for your comment.
But this way isn't it the same thing as a project without eslint?

[2022-10-16 09:06] amit-ksh commented on #2765
Ya! You are right. There should be a better way of handling these warnings.

[2022-10-16 09:21] sevkioruc commented on #2765
I see but why are there eslint packages and configs in projects? It is not clear for me :)
I think we had better ask it to anyone in core team.
What do you think about it? :) @salihozdemir

[2022-10-16 14:31] salihozdemir commented on #2765
The main reason for using the eslint is because every developer has her style of writing (like naming conventions/tabs/single or double quotes for a string). With different styling techniques, your codebase may look weird, more error-prone and vulnerable.  For these reasons we don't want to ignore eslint.

Thanks @sevkioruc for helping us to maintain the code standard. 🚀

[2022-10-16 14:46] sevkioruc commented on #2765
Thanks for your explanation @salihozdemir :)

[2022-10-16 15:40] vcvedika commented on #2777
Could you please assign this issue to me?

[2022-10-16 19:23] AbhishekTiwari23 commented on #2777
I am also ready with my setup.

[2022-10-16 19:24] AbhishekTiwari23 commented on #2776
I would like to contribute.

[2022-10-16 21:15] aliemir commented on #2777
@CodeWAdi thank you for the issue. Do you want to work on this one or can we assign this to @vcvedika or @AbhishekTiwari23?

[2022-10-16 21:18] aliemir commented on #2776
Hey @CodeWAdi thank you for your interest! We'd love to see your PR, have fun! 🚀

[2022-10-16 21:19] aliemir commented on #2776
Hey @AbhishekTiwari23, thank you for your interest but @CodeWAdi already got this one assigned. You can check other issues or maybe check the codebase for potential issues and features? 🙏

[2022-10-16 21:54] aliemir commented on #2739
@ShravaniAK any progress on this one?

[2022-10-17 01:54] CodeWAdi commented on #2777
I wanna work on this one kindly assign me to this , thank you

[2022-10-17 06:01] #2773 closed

[2022-10-17 06:02] omeraplak commented on #2773
Thank you @kaustav202 🚀

[2022-10-17 06:13] omeraplak commented on #2777
Done! Happy hacking! 🎯

[2022-10-17 06:13] omeraplak commented on #2764
Yes, you are right!
It might help to review [Supabase](https://github.com/pankod/refine/tree/next/packages/supabase), [Appwrite](https://github.com/pankod/refine/tree/next/packages/appwrite) packages

[2022-10-17 06:16] omeraplak commented on #2624
Done! Happy hacking! 🚀

[2022-10-17 06:19] omeraplak commented on #2504
Hey @emehmet ,
We would love to support this use case, but we cannot consider it a bug. Could you please create an issue by selecting the "Feature" type? Thank you very much for your understanding and patience 🎯

[2022-10-17 06:19] #2504 closed

[2022-10-17 08:21] alicanerdurmaz commented on #2633
@chaiwattsw Hi, Thank you for your interest 🙏

We discussed with the core team and we think Cypress will be more suitable on this case.

You can add e2e test to Finefoods examples.
[Finefoods repositories](https://github.com/pankod/refine/tree/master/examples/fineFoods)
[MUI Admin App](https://example.mui.admin.refine.dev/)
[Antd Admin App](https://example.admin.refine.dev/)
[Storefront App](https

[2022-10-17 10:05] #1627 closed, assigned to yildirayunlu

[2022-10-17 14:41] s-vamshi opened #2797 "[BUG] Auth models aren't responsive in refine store"
### Describe the bug

**In desktop view,**
1. Sign in model close button is visible only half.

**In mobile view,**
1. Both sign in and login models are cut on top and bottom.
2. Close button is not visible.

### Steps To Reproduce

1. Go to https://store.refine.dev/
2. Click on auth button
3. Click on sign up button
4. Close button of model is not visible(model not responsive)
5. In mobile view a

[2022-10-17 17:30] markuz899 opened #2802 "Pagination for useTable hooks"
### Describe the bug

Hi,
is it possible to use parameters in the custom query string for pagination in useTable hooks?

### Steps To Reproduce

useTable
setPageSize(20)
setPage(2)

### Expected behavior

url: enooint_api/product?page=2&pageSize=20

### Screenshot

_No response_

### Desktop

_No response_

### Mobile

_No response_

### Additional Context

_No response_

[2022-10-17 17:36] AnshuPathak-88825 opened #2803 "[FEAT] Add smooth scroll effect on icons"
### Is your feature request related to a problem? Please describe.

It's not looking good

### Describe alternatives you've considered

_No response_

### Additional context

![Screenshot (71)](https://user-images.githubusercontent.com/78332454/196244463-612f89b2-0694-40e0-9d03-899454be2f50.png)
pls

### Describe the thing to improve

I'll increase it's transition time that made it smooth

[2022-10-17 17:37] AnshuPathak-88825 commented on #2803
pls assign me this issue

[2022-10-17 17:45] salihozdemir commented on #2802
Hey @markuz899,

You can use the 'syncWithLocation' property od the 'useTable' for using the sync your params with the URL. Please, check it out the [useTable](https://refine.dev/docs/api-reference/core/hooks/useTable/#properties) documentation.

[2022-10-17 18:06] markuz899 commented on #2802
thanks for the quick reply, but in doing so the call to the server will still have the default values
_end = 20 & _start = 10

[2022-10-17 19:52] markuz899 commented on #2802
Overriding the getList method of the data provider helped me override the queries for pagination, by implementing the Pagination component I integrated it all

thanks for the support

good work

[2022-10-18 06:07] SarojWasti opened #2804 "[DOC] Incorrect Link in CODE_OF_CONDUCT.md"
### Documentation issue

The link to Mozilla code of conduct enforcement ladder in the [Attribution](https://github.com/pankod/refine/blob/next/CODE_OF_CONDUCT.md#attribution) section redirects to Mozilla inclusion repo.

### Describe the thing to improve

Adding the link to enforcement ladder documentation will fix the issue.

### Describe the solution (optional)

_No response_

[2022-10-18 06:22] SarojWasti commented on #2804
@omeraplak @aliemir if it's applicable, please assign this to me.

[2022-10-18 06:29] omeraplak commented on #2804
Hey @SarojWasti ,
Done! enjoy

[2022-10-18 06:54] #2804 closed

[2022-10-18 06:55] aliemir commented on #2803
Hey @AnshuPathak-88825, assigned the issue on you! Do you have any progress on this one? 🙏

[2022-10-18 06:56] #2802 closed

[2022-10-18 07:01] #2765 closed

[2022-10-18 07:03] aliemir commented on #2739
Looks like @ShravaniAK is not responding 😞 Anyone here want to work on this one?

[2022-10-18 07:04] aliemir commented on #2694
@saimaheshtaduri we're trying to close issues as fast as possible and we consider this as a kinda important issue on the store. Sorry but we're assigning this issue to someone else 🙍‍♂️

[2022-10-18 07:05] aliemir commented on #2694
Hey @sevkioruc assigned the issue on you, waiting for your PR 🚀

[2022-10-18 07:06] sevkioruc commented on #2694
Thanks @aliemir. I will work on it soon. 🙏

[2022-10-18 07:10] aliemir commented on #2127
Unassigned @Ruchika30 due to inactivity on this issue. Is there anyone wants to work on this issue? 🙏

[2022-10-18 07:10] aliemir commented on #1550
Unassigned @AyushK-101 due to inactivity on this issue. Is there anyone wants to work on this issue? 🙏

[2022-10-18 07:11] aliemir commented on #1271
Unassigned @Ruchika30 due to inactivity on this issue. Is there anyone wants to work on this issue? 🙏

[2022-10-18 07:30] ShravaniAK commented on #2739
i am working on it

[2022-10-18 07:30] ShravaniAK commented on #2739
please reasign

[2022-10-18 07:31] ShravaniAK commented on #2739
i will finish it today

[2022-10-18 09:00] #2797 closed

[2022-10-18 09:15] omeraplak opened #2809 "[FEAT] FeathersJS Data & Auth & Live Provider"
### Is your feature request related to a problem? Please describe.

[FeathersJS](https://docs.feathersjs.com/) is a lightweight web-framework for creating real-time applications and REST APIs using JavaScript or TypeScript. Writing [Data](https://refine.dev/docs/api-reference/core/providers/data-provider/), [Auth](https://refine.dev/docs/api-reference/core/providers/auth-provider/), and [Live](htt

[2022-10-18 09:42] chaiwattsw commented on #2633
@alicanerdurmaz I got it. Thanks!

[2022-10-18 10:48] omeraplak opened #2810 "[FEAT] Dynamic window title"
### Is your feature request related to a problem? Please describe.

It would be great if each page could have an auto-generated and custom title.

Example, For the Posts resource

- dashboard -> `Dashboard | refine`
- list -> `Posts | refine`
- edit -> `#{id} Edit Post | refine`
- show -> `#{id} Show Post | refine`
- create -> `Create new Post | refine`

It can also be overridden by adding an even

[2022-10-18 11:00] sevkioruc commented on #2694
Hey @aliemir, could you please review it? (https://github.com/pankod/refine/pull/2811)
Thank you :)

[2022-10-18 11:19] #2694 closed

[2022-10-18 11:39] omeraplak opened #2813 "[FEAT] Redash Data Provider"
### Is your feature request related to a problem? Please describe.

[Redash](https://redash.io/) is a connect and query your data sources, build dashboards to visualize data, and share them with your company. Writing [Data](https://refine.dev/docs/api-reference/core/providers/data-provider/) Provider for refine would be great!

We can combine with [Tremor](https://github.com/tremorlabs/tremor)

##

[2022-10-18 13:16] omeraplak opened #2815 "[FEAT] Keycloak Auth Provider"
### Is your feature request related to a problem? Please describe.

[Keycloak](https://www.keycloak.org/) is an open-source identity and access management solution. Writing [Auth](https://refine.dev/docs/api-reference/core/providers/auth-provider/) Provider for refine would be great!

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe th

[2022-10-18 14:22] omeraplak opened #2816 "[FEAT] Breadcrumb options support"
### Is your feature request related to a problem? Please describe.

CRUD components import the `Breadcrumb`([example Ant Design](https://refine.dev/docs/api-reference/antd/components/breadcrumb/)) component by default. If we want to hide the breadcrumbs, we must set the `breadcrumb` property of the CRUD components to `false`.
[code]
example: https://refine.dev/docs/api-reference/antd/components/ba

[2022-10-18 21:47] sevkioruc opened #2821 "[BUG] Save button doesn't appear on Add Address form in Store"
### Describe the bug

Save button doesn't appear until hover over it

### Steps To Reproduce

1. Go to Store page
2. Login
3. Click user avatar in top right corner
4. Click My Adresses option
5. Click `+` sign in New Address area

### Expected behavior

The save button should appear

### Screenshot

### Not hovered
![add_address_1](https://user-images.githubusercontent.com/33834689/196550651-f90f2

[2022-10-18 21:58] sevkioruc opened #2822 "[BUG] Returning 401 error when click save button on Add Address form"
### Describe the bug

Users cannot save their addresses

### Steps To Reproduce

1. Go to Store page
2. Login
3. Click user avatar in top right corner
4. Click My Adresses option
5. Click `+` sign in New Address area
6. Fill the form
7. Click save button
8. Check your http request on Network tab in the developer tool

### Expected behavior

Users should be able to register their addresses

### Scr

[2022-10-18 22:59] aliemir commented on #2822
Same also happens when you open your cart and it sends `me` request. Might be an issue related to a version update on medusa side (can be backend/server related or about frontend packages). We need to investigate this further to resolve once for all. Happily there's a workaround for the address field and this is not a blocker for the store; users can still add shipping addresses when processing th

[2022-10-18 23:00] aliemir commented on #2822
Assigning @omeraplak to have a look at the medusa side for any inconsistencies. 🚀

[2022-10-18 23:02] aliemir commented on #2821
Hey @sevkioruc thank you for the issue 🙏 Even there's a bigger issue on this screen (#2822) we can still fix this without conflicting with that issue. If you want, we can assign this one on you or maybe someone else here want to take this 👀

[2022-10-18 23:06] sevkioruc commented on #2821
Hey @aliemir, if someone wants to work on it, it's fine by me :)

[2022-10-19 01:09] 3t8 commented on #2821
I'd like to work on it 😄

[2022-10-19 01:28] s-vamshi commented on #2739
@aliemir Can I work on this Issue?

[2022-10-19 01:47] s-vamshi opened #2823 "[BUG] My profile section is blank in refine store"
### Describe the bug

1. When we route to account/profile, profile section is blank, ig it needs to have fields which change email and name.
2. Account text on the left looks like a button but it is not. To distinguish it from other buttons below can we make the account text as bold or increase the size of font?

### Steps To Reproduce

1. Go to https://store.refine.dev/
2. Login in with your acco

[2022-10-19 01:48] s-vamshi commented on #2823
@aliemir @omeraplak I would like to work on this. Can you assign this to me?

[2022-10-19 06:26] aliemir commented on #2821
Hey @3t8, thank you for your interest! Assigning the issue on you 🚀

[2022-10-19 06:30] omeraplak commented on #2822
Hey @aliemir @sevkioruc ,
I've fixed this issue. The problem is that medusa is using cookies for authorization. `store.refine.dev` was used for the auth domain, while `api.store.refine.dev` was used for other requests. This prevented the sharing of cookies.

[2022-10-19 06:41] AnshuPathak-88825 commented on #2803
I'm starting it now

[2022-10-19 06:53] #2822 closed

[2022-10-19 06:55] omeraplak commented on #2823
Hey @s-vamshi ,
I've fixed this issue (#2824). The problem is that medusa is using cookies for authorization. `store.refine.dev` was used for the auth domain, while `api.store.refine.dev` was used for other requests. This prevented the sharing of cookies.

[2022-10-19 07:02] s-vamshi commented on #2823
@omeraplak Any thoughts on this?

[2022-10-19 07:33] omeraplak commented on #2823
Hey @s-vamshi ,
Sorry, I missed that. Yes, we can do this

[2022-10-19 08:21] kino90 opened #2828 "[BUG] Disable click on <*Button>s when unauthorized"
### Describe the bug

Right now my "basic user" should only be able to see (not edit) a list, and its detail.
Using `<EditButton>` in the List actions column instead makes the button appear as `disabled` (**but still clickable**).

When clicked you're (of course) redirected to a 404 page.

~~I'd also love to have a prop on the Buttons (`ListButton`, `EditButton`, `ShowButton`, `DeleteButton`) (e.g

[2022-10-19 08:59] aliemir commented on #2821
@3t8, we've encountered this issue in the login modal couple weeks back, it's resolved with some class fixes but we want to have a better solution to not have this in the future again. Would you please try to have a more general solution than to just have this fixed in the address modal? 🙏

[2022-10-19 09:28] aliemir commented on #2828
Hey @kino90, disabled buttons should not be clickable and that should have been caught in the tests 🤦 Sorry for the issue, let me quickly check what we can do quickly 🙏 We'll try to add an option to hide if unauthorized but it will be better for us to move that into a feature request 🚀

[2022-10-19 09:39] kino90 commented on #2828
Disabled button is not clickable, but its parent, which is an `<Anchor>` is still clickable 😉

Ok for me to split this issue in a Bug + a Feature Request 👍

[2022-10-19 09:45] kino90 opened #2831 "[FEAT] add a property showWhenUnauthorized to <*Button>s"
### Is your feature request related to a problem? Please describe.

I don't want my basic user (customers, mainly) to see buttons related to pages/functions they cannot have access to. The button should not be disables, as they should be hidden

### Describe alternatives you've considered

I can achieve the same behaviour using a `<CanAccess>` component around the `<*Button>`, but that should be (

[2022-10-19 09:46] kino90 commented on #2828
I opened [2831](https://github.com/refinedev/refine/issues/2831) 😃

[2022-10-19 10:29] #2823 closed

[2022-10-19 10:48] omeraplak commented on #2831
Hey @kino90 ,
Thank you for contacting us! Can we manage this under `accessControl` property?
Example:

[code]

[2022-10-19 11:11] TDP17 commented on #2816
Hi, I'd like to work on this if possible :D

[2022-10-19 11:21] omeraplak commented on #2816
Yes, you are right. A very similar example would be `mutationMode`

`<Refine />`: https://github.com/refinedev/refine/blob/next/packages/core/src/components/containers/refine/index.tsx#L363
`useForm`: https://github.com/refinedev/refine/blob/next/packages/core/src/hooks/form/useForm.ts#L210

[2022-10-19 12:53] amit-ksh commented on #2810
I'd like to work on this issue. Please assign this issue to me?

[2022-10-19 12:55] omeraplak commented on #2810
Done. Happy hacking 💀

[2022-10-19 13:28] amit-ksh commented on #2810
@omeraplak can you give some directions like where to start to solve this issue. 🙏

[2022-10-19 13:41] omeraplak commented on #2810
Hey @amit-ksh ,
I think we can solve this problem with refine's Router Provider Packages (https://refine.dev/docs/packages/list-of-packages/).

Simply, we should update the [document title](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/title) when the user views pages with actions like `dashboard`, `list`, `create`, `edit`, and `show`.

We can create a hook (ex: `useUpdateWindowTitle`)

[2022-10-19 13:46] amit-ksh commented on #2810
So, I need to work on `react-router-v6` only and no change need to make to the `react-router` package right?

[2022-10-19 13:49] amit-ksh commented on #2810
Ok 👌! Thanks, @omeraplak for the clarification

[2022-10-19 15:52] #2828 closed

[2022-10-19 15:58] aliemir commented on #2828
Hey @kino90, just merged #2838 to resolve this issue. I'll ping once more when its released and hopefully confirm this is fixed.

[2022-10-19 16:01] kino90 commented on #2828
Nice, that was fast! Thanks @aliemir !😉

[2022-10-19 18:43] AbhishekTiwari23 commented on #2776
If this issue still exists. Can I work over this?

[2022-10-19 19:02] #2831 closed

[2022-10-19 22:12] aliemir commented on #2828
🎉 🎉 The fix is released with `@pankod/refine-mantine@1.8.0` feel free to give it a try 🚀 This version also includes `accessControl` prop for the buttons which you can do;

[code]

[2022-10-19 23:03] CodeWAdi commented on #2776
already working on this issue

[2022-10-20 03:39] omeraplak commented on #2803
Hey @AnshuPathak-88825 ,
You can find it here: https://github.com/refinedev/refine/blob/next/examples/store/src/components/common/Footer/Footer.tsx

Also you can check out "Contributing" doc: https://refine.dev/docs/contributing/

[2022-10-20 05:55] omeraplak commented on #2624
Hey @Mohammad-Palla ,
Any updates on this issue?

[2022-10-20 05:55] omeraplak commented on #2739
Hey @ShravaniAK,
Any updates on this issue?

[2022-10-20 05:56] omeraplak commented on #2760
Hey @Smartmind12 ,
Any updates on this issue?

[2022-10-20 06:00] Smartmind12 commented on #2760
I have run it on local and pushed some of the files in the branch and adding rest of the files…once thats done i will add the PR!

[2022-10-20 06:10] s-vamshi commented on #2821
@aliemir As I have worked on similar issue in login modal, I have actually found the source of this issue. Can I create a new PR or should I wait until @3t8 PR on this issue?

[2022-10-20 06:20] s-vamshi commented on #2777
@omeraplak As it has been 3 days, if this issue is available can you assign this to me?

[2022-10-20 08:45] omeraplak opened #2854 "[FEAT] Add useInfiniteList support"
### Is your feature request related to a problem? Please describe.

For resources that cannot be paginated, the `useInfiniteList` hook will be useful. This hook can use the data provider's "getList" function like the [`useList`](https://refine.dev/docs/api-reference/core/hooks/data/useList/) hook. Unlike this hook, [`useInfiniteQuery`](https://tanstack.com/query/v4/docs/reference/useInfiniteQuery)

[2022-10-20 09:59] AbhishekTiwari23 commented on #2739
If the issue still exists, please let me know. My setup is ready.

[2022-10-20 11:31] AnshuPathak-88825 commented on #2803
![image](https://user-images.githubusercontent.com/78332454/196937034-34e62dee-cc8a-4217-92b5-6d8efacda75e.png)
I'm looking made changes in this is section

[2022-10-20 11:32] AnshuPathak-88825 commented on #2803
pls tell me where's it present @aliemir

[2022-10-20 11:58] 3t8 commented on #2821
Working on it

[2022-10-20 16:15] 3t8 commented on #2821
@aliemir I tried to implement a more general solution. This also means most of the buttons will need to be checked if the proper css is applied #2859
@s-vamshi Let me know if you have a better solution

[2022-10-21 02:31] s-vamshi commented on #2821
@3t8 I have some academic work so I will create PR by tonight.

[2022-10-21 04:03] TheLearneer commented on #2854
Hi @omeraplak 👋

I would definitely look to try it out 😄

[2022-10-21 08:09] amit-ksh commented on #2810
Hey @omeraplak! How can I test my changes??

[2022-10-21 08:42] s-vamshi commented on #2821
@aliemir @omeraplak  can you please check our PR?

[2022-10-22 03:38] biswadeep25 opened #2878 "[DOC] Fix grammatical errors in Readme"
### Documentation issue

There are grammatical errors in Readme

### Describe the thing to improve

Readme.md

### Describe the solution (optional)

_No response_

[2022-10-22 03:39] biswadeep25 commented on #2878
Please add the hacktoberfest label and assign this to me.

[2022-10-22 04:37] Smartmind12 opened #2879 "[FEAT] Adding Gitpod Dev environment feature"
### Is your feature request related to a problem? Please describe.

Gitpod allows you to observe and interact with the project code directly in the browser instead of cloning it into user's local machine.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe the thing to improve

Gitpod can provide fully initialized, perfectly set-up devel

[2022-10-22 04:40] Smartmind12 commented on #2879
Can you assign this to me so that i can start working on it right away!

[2022-10-22 06:30] Vishrut19 commented on #2739
Hey @ShravaniAK do you need any help ??

[2022-10-22 06:50] PriyanshuRj commented on #2854
Please assign this issue to me @omeraplak

[2022-10-22 18:34] saimaheshtaduri opened #2881 "[FEAT]show image names in related products"
### Is your feature request related to a problem? Please describe.

When I select any item in store, There are no names to the related products.

![Screenshot (51)](https://user-images.githubusercontent.com/53844369/197357178-0a326e73-e5b7-46ce-969b-e743df450c15.png)

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe the thing to improv

[2022-10-22 20:46] AbhishekTiwari23 commented on #2739
Should I start working on this?

[2022-10-22 20:47] AbhishekTiwari23 commented on #2777
Can I take it over now?

[2022-10-22 20:48] AbhishekTiwari23 commented on #2776
Can I work on this now?

[2022-10-23 11:09] aryabyte21 opened #2882 "[FEAT]"
### Is your feature request related to a problem? Please describe.

The copyrights year in the footer is hardcoded to 2022. Devs will have to update it every year which would be not effective.

### Describe alternatives you've considered

I have thought of automating this via js. I have the code.

### Additional context

_No response_

### Describe the thing to improve

I would like to automate th

[2022-10-23 11:13] aryabyte21 commented on #2882
[code]
planning to make this small change sounds cool?

[2022-10-23 12:29] #2882 closed

[2022-10-23 17:08] zgajo opened #2885 "[BUG] TimePicker.RangePicker gives error"
### Describe the bug

Trying to use <TimePicker.RangePicker /> returns error
Property RangePicker does not exist on the type...

It should have the possibility to use Ant Design RangePicker
https://ant.design/components/time-picker/#components-time-picker-demo-range-picker

### Steps To Reproduce

import {  TimePicker } from '@pankod/refine-antd';

Use <TimePicker.RangePicker /> in the code

### E

[2022-10-24 05:56] omeraplak commented on #2879
Hey @Smartmind12 ,
Thank you for contacting us! What are the advantages of GitPod over [GitHub dev](https://github.dev/github/dev)?

[2022-10-24 06:50] Smartmind12 commented on #2879
1. Gitpod is opensource platform which is faster, more resource efficient and also integrateable withindividual stack
2. Gitpod offers easy collaboration by sharing of snapshots of workspace which Github dev does not provide
3. Provides secure containers with scalable workspace on high power cloud servers
4. Supports(I believe Github dev does not support the following):
a. Multiple IDE
b. Self hos

[2022-10-24 06:52] aliemir commented on #2624
Unassigned this issue from @Mohammad-Palla due to inactivity. If anyone interested in this issue, please leave a comment 🚀

[2022-10-24 06:54] alicanerdurmaz commented on #2633
Hey @chaiwattsw, Is there any progress on this issue?

[2022-10-24 06:55] aliemir commented on #2739
@s-vamshi @AbhishekTiwari23 @Vishrut19 Anyone still interested in this? Due to inactivity unassigned @ShravaniAK from this issue.

[2022-10-24 06:56] s-vamshi commented on #2739
Yes i would like to work on this issue.

On Mon, Oct 24, 2022, 12:25 PM Ali Emir Şen ***@***.***>
wrote:

[2022-10-24 06:56] ShravaniAK commented on #2739
actually my exams were going on , i will anyhow make a pr today ,please give me some hours

[2022-10-24 06:56] salihozdemir commented on #2764
Hey @kumar-kalyan,  Is there any progress on this issue?

[2022-10-24 06:58] omeraplak commented on #2810
Hey @amit-ksh ,
Have you reviewed our "Contributing" document?

https://refine.dev/docs/contributing/

[2022-10-24 07:05] yildirayunlu commented on #2777
Hey @CodeWAdi, Is there any progress on this issue?

[2022-10-24 07:05] yildirayunlu commented on #2776
Hey @CodeWAdi, Is there any progress on this issue?

[2022-10-24 07:09] omeraplak commented on #2879
LGTM @Smartmind12. We are waiting for your PR 👊

[2022-10-24 07:20] omeraplak commented on #2854
Done! Happy hacking 💥

[2022-10-24 07:35] nooras commented on #2881
Hi @saimaheshtaduri I am interested please assign me

[2022-10-24 07:50] simran2002 commented on #2878
Hi @omeraplak
Could you please assign this issue to me?
Regards

[2022-10-24 07:53] metabiswadeep commented on #2878
A PR has already been raised by me for this issue

[2022-10-24 07:59] alicanerdurmaz commented on #2885
Hi @zgajo Thanks for the issue 🙏 . We will release fix soon.
Until that time you can use this component `<DatePicker.RangePicker picker="time" />`

[2022-10-24 08:08] ShravaniAK commented on #2739
i have finished the work

[2022-10-24 08:11] ShravaniAK commented on #2739
i am not able to push , please help

[2022-10-24 08:12] omeraplak commented on #2739
Hey @ShravaniAK ,
You can follow this document

https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from- a-fork

[2022-10-24 08:14] #2878 closed

[2022-10-24 08:22] #2821 closed

[2022-10-24 08:46] ShravaniAK commented on #2739
i am not able to make multiple commits
<img width="1440" alt="Screenshot 2022-10-24 at 2 16 13 PM" src="https://user-images.githubusercontent.com/97099574/197486066-2ad168ef-cda4-4c12-931a-1ca64228a9f2.png">

[2022-10-24 08:49] omeraplak commented on #2739
refine uses [commit-lint](https://commitlint.js.org/#/). You can visit here to commit-lint rules -> https://cheatography.com/albelop/cheat-sheets/conventional-commits/

[2022-10-24 11:02] saimaheshtaduri commented on #2881
Sorry @nooras , I already implemented it and waiting for their approval to raise a pr.

[2022-10-24 11:12] omeraplak commented on #2881
Hey @saimaheshtaduri ,
Thank you for your interest. We discussed with the core team and decided that this feature is not needed. Thanks again for your interest 🚀

[2022-10-24 11:12] #2881 closed

[2022-10-24 12:35] #2739 closed

[2022-10-25 07:40] alicanerdurmaz commented on #2885
This issue happens because we convert moment to dayjs. [antd doc](https://ant.design/docs/react/replace-moment#TimePicker.tsx)

All `<TimePicker.RangePicker />` features can be used like this `<DatePicker.RangePicker picker="time" />`

I'm closing issue, Thans again @zgajo  🙏

[2022-10-25 07:40] #2885 closed

[2022-10-25 08:15] aliemir commented on #2803
Hey @AnshuPathak-88825 sorry for late response, the footer for the documentation is at `refine/documentation/src/theme/Footer/Layout/index.js`

[2022-10-25 11:57] s-vamshi commented on #2777
@yildirayunlu @omeraplak @aliemir Can I work on this issue?

[2022-10-25 12:21] #2816 closed

[2022-10-25 12:52] s-vamshi commented on #2777
@omeraplak Should i use react icons or can you please guide me for choosing an icon?
In react-icons we can use this icon
![image](https://user-images.githubusercontent.com/62489114/197777823-3ffa24a8-dd71-4b78-a9a8-69dbbb9b82b9.png)

[2022-10-25 13:06] Arkaroy147 opened #2898 "Code Of Conduct Typographical enhancement"
The last sentence in the code of conduct(Translation link) is in the same line as the previous sentence. It is not looking good with the rest of the code. I wish to separate them. Can you assign me?

[2022-10-25 13:16] Arkaroy147 commented on #2898
Also, can I request a hacktoberfest tag in this issue?

[2022-10-25 13:59] aliemir commented on #2898
Added! Thank you for your interest in refine, waiting for your PR 🚀

[2022-10-25 15:30] chirdeeptomar opened #2902 "How to authenticate with Azure AD B2C [DOC]"
### Documentation issue

Adding new docs

### Describe the thing to improve

Adding documentation for authenticating with Azure AD B2C

### Describe the solution (optional)

_No response_

[2022-10-25 16:03] AnshuPathak-88825 opened #2904 "[FEAT] Add cursor pointer to scroll down button"
### Is your feature request related to a problem? Please describe.

yes button should be in cursor pointer

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe the thing to improve

![image](https://user-images.githubusercontent.com/78332454/197824460-3c994556-b70d-4312-b086-ccc1ec50131c.png)
made this button cursor pointer

[2022-10-25 19:34] Bisht13 opened #2906 "[DOC] Fix grammatical errors in md files"
### Documentation issue

Fixing few grammatical errors in Code of Conduct and README.md.

### Describe the thing to improve

Fixing typos, grammatical errors and punctuations.

### Describe the solution (optional)

_No response_

[2022-10-25 19:40] Bisht13 commented on #2906
Hey @aliemir 👋 , can you please assign this issue to me and add the [hacktoberfest](https://github.com/refinedev/refine/labels/hacktoberfest) label. Also, I've opened a PR ✨

[2022-10-25 20:09] sevkioruc commented on #1550
Hey @omeraplak @aliemir, Could you please some info about this feature? How can i work on it?

[2022-10-25 22:29] aliemir commented on #2904
Hey @AnshuPathak-88825, thank you for the issue, we can accept this change if you want to create a PR for it! 🪄  It look like you already have an issue assigned on you, is there a progress on that one? We're trying to keep the issue list clean and I'll be glad if you try to tackle that down before you move on to this 🙏 🙏

[2022-10-25 22:35] aliemir commented on #2776
Due to inactivity and unclarity of the changes to be made; I'm closing this issue by marking it as a won't fix. ☹️ Thanks to everyone interested on this issue, if you want to contribute to refine, check out this page https://refine.dev/docs/contributing/#ways-to-contribute and check the latest open issues, maybe you can find some issues you can help with 🚀 🚀

[2022-10-25 22:35] #2776 closed

[2022-10-25 22:36] aliemir commented on #2854
Hey @PriyanshuRj, any progress on this one? We're excited to see your changes here 👀 👀

[2022-10-25 22:38] aliemir commented on #2810
@amit-ksh, any progress on this one? Let me know if you are still facing issues

[2022-10-26 04:02] amit-ksh commented on #2810
@aliemir @omeraplak, please unassign me from this issue. It would be better if someone else work on this one, I'm not able to solve this issue.

[2022-10-26 04:09] AnshuPathak-88825 commented on #2904
I'll try to complete that issue by today

[2022-10-26 04:11] AnshuPathak-88825 commented on #2904
you can assign this issue to me

[2022-10-26 04:12] AnshuPathak-88825 commented on #2904
do you guys have any discord or community where I can some doubt

[2022-10-26 06:23] alicanerdurmaz commented on #2904
Hey, @AnshuPathak-88825 [Refine Discord](https://discord.gg/refine) 👊

[2022-10-26 07:15] aliemir commented on #2633
Due to inactivity and unclarity of the changes to be made, closing this issue and marking as stale. ☹️

[2022-10-26 07:15] #2633 closed

[2022-10-26 07:16] aliemir commented on #2764
Due to inactivity, unassigning @kumar-kalyan from this issue. If anyone interested in this, please let us know! 🚀

[2022-10-26 08:25] #2777 closed

[2022-10-26 12:04] s-vamshi commented on #2777
@aliemir we are not using Avatar.tsx at all in any other component ig we can give option for users to upload profile pic and use Avatar.tsx to display profile image after login.
Any thoughts on this?

[2022-10-26 13:31] yildirayunlu commented on #1550
Hi @sevkioruc, thank you for your interest. [nestjs-query](https://doug-martin.github.io/nestjs-query/) is a back-end library with graphql and crud implementations. A data provider needs to be prepared using this project. [Strapi graphql](https://github.com/refinedev/refine/tree/next/packages/strapi-graphql) would be a good example.

You temporarily run a nestjs-query application locally and integ

[2022-10-26 14:33] #2906 closed

[2022-10-26 15:45] #2902 closed

[2022-10-26 15:59] #2898 closed

[2022-10-27 15:58] AnshuPathak-88825 commented on #2803
Where's css of this footer section

[2022-10-27 16:05] aliemir commented on #2803
Mostly done with TailwindCSS in `className` prop, if you have any other styles you want to add by css, you can use `src/css/custom.css` but I think its better to use classes since we provided the hover colors by class (you can see at lines 186, 189, 192, 195 and 198 of `src/theme/Footer/Layout/index.js`)

[2022-10-27 17:59] AnshuPathak-88825 commented on #2803
![image](https://user-images.githubusercontent.com/78332454/198364159-d026ad5a-49c3-4ab3-8733-cb85eda8aba0.png)
where's  the css of this button available

[2022-10-27 20:57] saimaheshtaduri opened #2916 "[FEAT]show alert message when user chooses more than 6 items"
### Is your feature request related to a problem? Please describe.

Now If I select a product 6 times in a cart, I'm not getting any alert on 7th time

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe the thing to improve

Its better if user is awarded that 6 is the max

[2022-10-28 05:07] saimaheshtaduri commented on #2916
@omeraplak

[2022-10-28 05:18] saimaheshtaduri opened #2918 "[DOC] update readme"
### Documentation issue

The contribution section isn't that clear.

### Describe the thing to improve

I want to convert this from

If you discover a bug, please file a bug report at [issue](https://github.com/refinedev/refine/issues/new/choose).

to

If you discover a bug, please file a bug report at [issue](https://github.com/refinedev/refine/issues/new?assignees=&labels=bug&template=bug_report

[2022-10-28 07:25] omeraplak commented on #2916
Hey @saimaheshtaduri ,
I guess it has to do with the total stock of the product. An alert would be nice 🎉

[2022-10-28 14:01] #2918 closed

[2022-10-28 14:37] Saikatssd opened #2922 "Add Dark Mode"
### Is your feature request related to a problem? Please describe.

Dark may even be easier on your eyes than a traditional screen setting.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe the thing to improve

Adding a dark mode feature will help to make your website cool.

[2022-10-28 14:37] Akash190104 opened #2923 "[DOC] Found errors in antd.md"
### Documentation issue

Found grammatical errors and typos in antd.md in tutorial. Fixed those and now I am creating a PR.

### Describe the thing to improve

The quality of the documentation is going to improve.

### Describe the solution (optional)

_No response_

[2022-10-28 14:38] Saikatssd commented on #2922
Please assign me to work on this issue.

[2022-10-28 16:31] AnshuPathak-88825 opened #2925 "[FEAT] Add contributor image in readme file"
### Is your feature request related to a problem? Please describe.

No

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe the thing to improve

Add contributor image

[2022-10-28 16:31] AnshuPathak-88825 commented on #2925
pls assign me this issue

[2022-10-28 19:19] chirdeeptomar opened #2926 "[FEAT] Support for Elide Dataprovider"
### Is your feature request related to a problem? Please describe.

Elide is a low code java solution to build rest and graphql apis. Suggestion is to build a dataprovider to provide support for Elide as a backend.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe the thing to improve

Write a dataprovider for [Elide](https://elide.io/

[2022-10-28 22:00] ckragarwal commented on #2904
Can I do this if this is still pending?

[2022-10-28 22:06] ckragarwal commented on #2810
Can I work on this one?

[2022-10-28 22:19] AnshuPathak-88825 commented on #2904
@ckragarwal I'm working on it

[2022-10-29 01:31] dipbazz opened #2927 "[BUG] Issue on redirect url after user is logged out on jwt refresh token expiration."
### Describe the bug

I am using the JWT authentication on my project and it works fine when I log in and save the access token in my local or session storage. But whenever my refresh token is expired and the server responds with 401 status the user gets logged out which is fine. When the user is logged out the redirect URL must be the resource that the user is trying to access instead the redirec

[2022-10-30 10:48] hridaya423 commented on #2815
Hi can i work on this?

[2022-10-30 13:51] hridaya423 commented on #2815
I'm sorry, I can't do this

[2022-10-30 18:49] Alcadeus0 commented on #2815
I'd like to give this a shot

[2022-10-31 06:50] #2925 closed

[2022-10-31 06:51] #2904 closed

[2022-10-31 07:10] sevkioruc commented on #1550
Hey @yildirayunlu, i have two questions. How to test this package behaviour is correct? and which should i use url for unit test?

[2022-10-31 07:21] alicanerdurmaz commented on #2922
Hi @Saikatssd, Dark mode would be great 🚀

We are working on design updates on landing page. [PR](https://github.com/refinedev/refine/pull/2933)

We will merge in 2-3 days.
After PR merged, you can work on dark mode 🙏.
When PR merged, we will let you know.

[2022-10-31 08:09] salihozdemir commented on #2760
Due to inactivity unassigned @Smartmind12 from this issue. Anyone still interested in this?

[2022-10-31 08:27] yildirayunlu commented on #2854
Due to inactivity unassigned @PriyanshuRj from this issue. Anyone still interested in this?

[2022-10-31 08:37] yildirayunlu commented on #1550
Hey @sevkioruc, first of all, you should test the provider you made manually. For this, create a `Post` end-point and make sure that the crud operations are working correctly.

Then you have to cover it with unit tests. Use [nock](https://github.com/nock/nock) library for this.

We will help you prepare the API. We'll deploy and give you a URL. You can open PR.

[2022-10-31 10:06] hridaya423 commented on #1143
@omeraplak does this count as an hacktoberfest contrib if we create a tutorial for refine?

[2022-10-31 10:08] omeraplak commented on #1143
Creating a document will definitely count as a contribution. What kind of thing are you planning to do?

[2022-10-31 10:10] hridaya423 commented on #1143
Getting Started / Creating a project vid tutorials

[2022-10-31 11:28] #2923 closed

[2022-10-31 20:51] hridaya423 commented on #1143
@omeraplak Here's my video: https://youtu.be/9pfmJV8JZfU

My Blog: https://dev.to/learnearnfun/introduction-to-refine-5c0h

[2022-10-31 20:51] hridaya423 commented on #1143
Hope that counts!

[2022-10-31 21:07] sevkioruc commented on #1550
Hi @yildirayunlu, I have just started manual testing. I will write tests later, too. Thank you so much!

[2022-11-01 05:19] sevkioruc commented on #1550
Hey @yildirayunlu, should I create nestjs-query backend project for manual testing?

[2022-11-01 06:38] sevkioruc commented on #1550
I haven't used nestjs or nestjs-query before but i use nodejs/express. I will try it but i can ask a question when i encounter any problem.  Thank you @yildirayunlu :)

[2022-11-01 07:07] #2803 closed

[2022-11-01 07:12] alicanerdurmaz commented on #2927
Hi @dipbazz, Than you for reporting the issue 🙏

We started to working on this 👊

[2022-11-01 07:13] aliemir commented on #2810
@ckragarwal any updates on this one? We're waiting for your PR 🚀

[2022-11-01 11:39] hridaya423 commented on #1143
@omeraplak Do the above count? Will i get swag?

[2022-11-01 12:56] omeraplak commented on #1143
Hey @hridaya423 ,
Thank you! We'll send a swag kit! Can you reach us on [Discord](https://discord.gg/refine)?

[2022-11-01 13:00] hridaya423 commented on #1143
I already have joined the refine server :-)

[2022-11-01 21:13] rayphilip141 opened #2949 "Good 😊"

[2022-11-02 07:20] omeraplak commented on #2949
Thank you! 👊

[2022-11-02 10:06] #2949 closed

[2022-11-02 22:23] alicanerdurmaz commented on #2927
Hi @dipbazz thank you for the issue, we opened [PR](https://github.com/refinedev/refine/pull/2953).

But, there are also some problems with the code you reproduced.

You need to reject or resolve with failedRequest.
[code]

You need to change status field to `error.response.status`.
[code]

If you have any more questions, please don't hesitate to ask. 🙏

[2022-11-03 05:30] sevkioruc commented on #1550
Hi @yildirayunlu, this week i am a little bit busy. Is it okay if can i work on backend in the weekend? or is it late?

[2022-11-03 06:24] yildirayunlu commented on #1550
Hey @sevkioruc let's do this if you want. We'll take care of the back-end and give you an api url. You focus on data provider.

[2022-11-03 06:49] sevkioruc commented on #1550
Thank you @yildirayunlu better for me :)

[2022-11-03 07:27] voney opened #2955 "[DOC] Material UI Server Side validation example."
### Documentation issue

Hi Refine,

I'm trying to display server generated validation errors, specifically I'm pointing refine at a FastAPI endpoint which hands back
[code]
I've found an issue already that deals with this use case and have gotten to the point where I can catch the error using the `onMutationError` hook, but I can't figure out how to change the Material IU form refine uses to show

[2022-11-03 08:38] #2879 closed

[2022-11-03 09:04] omeraplak commented on #2955
Hey @voney ,
It would be better to approach this issue not from the Material UI perspective, but as the `@pankod/refine-react-hook-form` package.

[`setError`](https://react-hook-form.com/api/useform/seterror/) function of `useForm` can help you with this. You can find an example in our real-world example.
https://github.com/refinedev/real-world-example/blob/329809bd7b7f6c2afd00e8a190f2fc7e7594362

[2022-11-03 09:39] #2927 closed

[2022-11-04 10:56] omeraplak commented on #2916
Hey @saimaheshtaduri ,
Any updates on this one? We're waiting for your PR 🚀

[2022-11-04 12:13] saimaheshtaduri commented on #2916
@omeraplak I'm facing issues setting up the project. I don't think I can implement this.

[2022-11-04 13:08] alicanerdurmaz commented on #2922
@Saikatssd Hi again 👋. We merged new design on landing page.

Do you want to work on the dark mode feature?

[2022-11-06 12:55] eduardocp opened #2966 "[FEAT] Support for Elastic UI"
### Is your feature request related to a problem? Please describe.

[Elastic UI](https://eui.elastic.co/) is the front-end framework used by all products of elastic group. I think this can be a huge addition to refine's portifolio.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe the thing to improve

I would like to see as many compo

[2022-11-06 16:38] omeraplak commented on #2966
Hey @eduardocp 👋,
Thank you for contacting us! Lets see what we can do 🎁

[2022-11-07 02:13] eltociear opened #2967 "[DOC] Typo in about/index.tsx"
### Documentation issue

Found typo.

### Describe the thing to improve

inital -> initial

### Describe the solution (optional)

_No response_

[2022-11-07 05:55] #2967 closed

[2022-11-07 05:55] omeraplak commented on #2967
Thank you! ⚡️

[2022-11-09 07:27] alicanerdurmaz commented on #2922
Closed due to inactivity.

[2022-11-09 07:27] #2922 closed

[2022-11-09 07:37] alicanerdurmaz commented on #2916
Hi @saimaheshtaduri, what is the problem you are facing ?

`npm run bootstrap -- --scope refine-store`
`npm run start -- --scope refine-store`

after running these commands you can see the project at `http://localhost:8000/`

[2022-11-09 09:34] tranvantriet opened #2978 "[BUG] Request api two times"
### Describe the bug

When requesting API, always request API two times

### Steps To Reproduce

1. Open firebug Network
2. Open posts list: https://zzmiwzvxm--github--3000.local.webcontainer.io/posts
=> request API posts list two times

### Expected behavior

Request one times

### Screenshot

_No response_

### Desktop

-Ubuntu 21.10
-Chrome: Version 106.0.5249.91 (Official Build) (64-bit)

###

[2022-11-09 10:18] salihozdemir commented on #2978
With React 18, StrictMode throws requests twice on development enviroment. You can ignore or disable it. Refer to the react documentation for more information in [here](https://reactjs.org/docs/strict-mode.html).

[2022-11-09 10:25] #2978 closed

[2022-11-11 03:26] leapful commented on #2624
@omeraplak @aliemir

Please help to review PR https://github.com/refinedev/refine/pull/2988 for this issue.

[2022-11-11 13:56] dj-fiorex opened #2992 "[BUG] Close Datagrid filter make a call to backend with an empty string"
### Describe the bug

Following [this discussion ](https://github.com/refinedev/refine/discussions/2946)
when i click on the cross icon to close the filter on a MUI Datagrid a call with an empty string is made to my backend.

### Steps To Reproduce

1. Have a Datagrid with a Select filter
2. open the filter and select a value
3. Click the cross icon to close the filter
4. A call to backend is made

[2022-11-11 14:05] omeraplak commented on #2992
Hey @dj-fiorex ,
Thank you for contacting us! We've fixed it with [@pankod/refine-mui@3.55.2](https://github.com/refinedev/refine/releases/tag/%40pankod%2Frefine-mui%403.55.2). Could you approve this fix?

[2022-11-11 14:12] dj-fiorex commented on #2992
Bug resolved! Thank you!

[2022-11-11 14:12] #2992 closed

[2022-11-11 17:09] sarathy-partha commented on #1271
@omeraplak can you give me an example of how to do that override using `metadata` ?

[2022-11-11 17:11] omeraplak commented on #1271
Hey @sarathy-partha ,
You can find an example on our FAQ page 🚀
https://refine.dev/docs/faq/#how-i-can-override-specific-function-of-data-providers

[2022-11-12 11:37] chirdeeptomar opened #2994 "[FEAT] Support for Elide"
### Is your feature request related to a problem? Please describe.

I wanted to support Elide as a backend technology.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe the thing to improve

I have written a data provider for Elide so developers using Elide can benefit from Refine.

[2022-11-15 05:46] sevkioruc commented on #2916
Hey @omeraplak, can i work on it if @saimaheshtaduri has stopped working?

[2022-11-15 06:19] omeraplak commented on #1550
Since the nestjs-query project is not actively maintained, we have given up on developing this data provider. But if the community wants to make it, we will provide our best support. Thank you for your understanding

[2022-11-15 06:19] #1550 closed

[2022-11-15 21:27] chirdeeptomar opened #3003 "[DOC] Elide added to data provider section, fixed file name typo"
### Documentation issue

Elide added to data provider section, fixed file name typo

### Describe the thing to improve

Elide added to data provider section, fixed file name typo

### Describe the solution (optional)

_No response_

[2022-11-15 21:48] #3003 closed

[2022-11-15 21:49] omeraplak commented on #3003
Thank you! 🎉

[2022-11-18 20:48] #2994 closed

[2022-11-18 22:22] stnguyen90 opened #3019 "[BUG] Can't refetch Auth"
### Describe the bug

My app has another way to authenticate the user outside of the authProvider's login method. After successfully logging in without the authProvider, I try to call `refetch()` from `useAuthenticated()` and then `list('tasks')`, but I get redirected to the login page despite the `refetch()` executing successfully.

### Steps To Reproduce

1. login w/o the authProvider
2. call `u

[2022-11-19 08:15] dzcpy opened #3021 "[BUG] Not able to run it after installation"
### Describe the bug

Cannot run the project after generated by `npx superlate-cli` with the follwowing error:
[code]

### Steps To Reproduce

1. run `npx superplate-cli -o refine-antd backend_admin` and with the following choices:
[code]
2. Change to the directory of the project, then run `yarn dev`
It shows the following error:
[code]

### Expected behavior

Being able to run without errors

###

[2022-11-19 08:20] omeraplak commented on #3021
Hey @dzcpy 👋,
Thank you for contacting us! We are sorry for the bad experience you had. What e will fix it on Monday

[2022-11-19 10:23] dzcpy opened #3022 "[DOC] Typo in documentation"
### Documentation issue

https://refine.dev/docs/examples/tutorial/antd-tutorial/
![image](https://user-images.githubusercontent.com/203980/202846140-d5afeb3f-7585-4097-9d4d-e0c404f82a31.png)

### Describe the thing to improve

Fix typo

### Describe the solution (optional)

_No response_

[2022-11-19 10:37] omeraplak commented on #3022
Hey @dzcpy ,
Thank you for contacting us. Would you like to create a PR? ⚡️

[2022-11-19 11:39] jsbrain opened #3023 "[FEAT] add queryOptions to useShow hook"
### Is your feature request related to a problem? Please describe.

Conditionally show an item / trigger the query based on props.

Currently, I don't think there's a way to disable the show query!?

While almost all other query hooks have that option.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe the thing to improve

Add `queryOp

[2022-11-19 12:36] omeraplak commented on #3023
Hey @jsbrain ,
Thank you for contacting us! Would you like to create a PR?

[2022-11-19 15:53] sevkioruc opened #3024 "[BUG] I can add 7th item to cart in store"
### Describe the bug

I can add seventh item when there are 6 items in cart.
How? Firstly I added 6 items to cart and then close cart. When i click `Add To Cart` button in the picture above, i can add seventh item.
![Screenshot 2022-11-19 183940](https://user-images.githubusercontent.com/33834689/202859295-4989204d-dbdb-47bf-8dd2-473e20ac6bb9.png)

### Steps To Reproduce

1. Go to the Store page
2

[2022-11-19 18:36] dzcpy opened #3025 "[FEAT] Support Ant Design 5.0"
### Is your feature request related to a problem? Please describe.

Ant Design 5 has finally arrived with a lot of improvements, hopefully Refine can support it soon!

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Describe the thing to improve

Add Ant Design 5.0 support

[2022-11-19 18:48] dzcpy commented on #3022
Done!

[2022-11-19 20:05] #3022 closed

[2022-11-19 22:21] chirdeeptomar commented on #2815
I can work on this.

[2022-11-19 22:23] chirdeeptomar commented on #2926
@omeraplak shall we mark this as completed?

[2022-11-20 01:53] dzcpy commented on #3025
Here is an example of how to use Ant Design 5.0 with Emotion
https://github.com/VugarAhmadov/antd-emotion-dynamic-theme

[2022-11-20 06:41] omeraplak commented on #2815
Happy hacking! :)

[2022-11-20 06:42] #2926 closed

[2022-11-21 08:08] omeraplak commented on #3025
Hey @dzcpy ,
Thank you for contacting us! We think we can release it in the first week of December. Let's see what we will do 🚀

[2022-11-21 10:34] #3021 closed

[2022-11-21 10:35] alicanerdurmaz commented on #3021
Hi @dzcpy, We fixed. [PR](https://github.com/pankod/superplate-core-plugins/pull/293)

Thank you 🙏

[2022-11-21 12:06] salihozdemir commented on #3019
Hey @stnguyen90,

authProvider's `login`, `register` and `logout` functions invalidates the auth stores for your application. When you authenticate outside of the authProvider, you must manually invalidate the auth store like [this](https://github.com/refinedev/refine/blob/next/packages/core/src/contexts/auth/index.tsx#L18).

Because, the routerProvider calls the `useAuthenticated` with a differen

[2022-11-22 07:47] #3024 closed

[2022-11-22 07:53] sevkioruc commented on #3024
Hey @omeraplak , Couldn't you reproduce it?

[2022-11-22 08:12] omeraplak commented on #3024
Hey @sevkioruc ,
We've closed this issue as it will be resolved with #2916. Is there anything we overlooked?

[2022-11-22 08:16] sevkioruc commented on #3024
Thanks for your clarification @omeraplak. No i agree with you. i just wondered it :)

[2022-11-22 12:20] omeraplak commented on #3023
Hey @jsbrain ,
We've released [`@pankod/refine-core@3.90.0`](https://github.com/refinedev/refine/releases/tag/%40pankod%2Frefine-core%403.90.0). Could you approve this feature? Thank you! 🎉

[2022-11-22 12:20] #3023 closed

[2022-11-22 15:12] sevkioruc opened #3037 "[BUG] Return 404 page when i click My Cart text"
### Describe the bug

![image](https://user-images.githubusercontent.com/33834689/203349980-16857c14-2943-4be4-a393-8f4b27953534.png)

### Steps To Reproduce

1. Go to Store
2. Add a product to the cart
3. Click My Cart text

### Expected behavior

It shouldn't go to the 404 page

### Screenshot

_No response_

### Desktop

_No response_

### Mobile

_No response_

### Additional Context

_No resp

[2022-11-22 16:33] MetaCorp opened #3038 "[DOC] Have an example of NestJS server implementation to use with refine-nestjsx-crud"
### Documentation issue

https://refine.dev/blog/customizable-admin-panel-with-nestjs/#nestjs-rest-api

### Describe the thing to improve

The link to the github of the example NestJS server code is broken

### Describe the solution (optional)

_No response_

[2022-11-23 01:35] s-vamshi commented on #3037
@sevkioruc @omeraplak @aliemir can I work on this issue?

[2022-11-23 04:55] sevkioruc commented on #3037
It is okay by me @s-vamshi

[2022-11-23 05:30] aliemir commented on #3038
Hey @MetaCorp sorry for the issue. We've recently moved from org `pankod` to `refinedev`. That was probably missed during the moving. Sent a PR to fix the URL; it will be merged and deployed soon 🙏

[2022-11-23 06:29] aliemir commented on #3038
We took a different path and moved that repo to `refinedev`, now the link is working 😅

[2022-11-23 06:29] #3038 closed

[2022-11-23 13:44] tlqvst opened #3051 "[DOC] Material UI typo in Mantine tutorial"
### Documentation issue

In the tutorial for Mantine there's a reference to Material UI in explaining the 'TextInput'-component.

I'll make a PR

### Describe the thing to improve

Change 'Material UI' to 'Mantine

### Describe the solution (optional)

_No response_

[2022-11-23 13:48] omeraplak commented on #3051
Hey @tlqvst ,
Thank you! We are waiting for your PR 🎉

[2022-11-23 14:41] #3051 closed

[2022-11-23 14:44] #2916 closed

[2022-11-23 17:58] ahhshm opened #3055 "[FEAT] export material ui localization files"
### Is your feature request related to a problem? Please describe.

Currently, I have to install `@mui/material` manually to be able to use its translation files. It's not ideal. Especially because you have i18n provider, I assume this library is globally adopted so exporting locale files is essential.

related docs: https://mui.com/material-ui/guides/localization/#locale-text

### Describe altern

[2022-11-24 16:32] sevkioruc commented on #2854
Hey @omeraplak , can you assign me to the issue? I don't know how i can do it for now but i want to try :D

[2022-11-25 13:55] aliemir commented on #2531
Hey @vehas, we're happy to announce that we've released `@pankod/refine-inferencer` package 🎉 🎉 It's generating components and lets you preview it with a formatted code ready to get you started 🚀 🚀

You can start by checking out this https://refine.dev/docs/packages/documentation/inferencer/ in documentation. We would love to hear your feedback if you try it out 🙏 🙏

[2022-11-25 13:55] #2531 closed

[2022-11-26 14:41] janlisse opened #3069 "[BUG] Duplicate data requests"
### Describe the bug

I have followed along the MUI tutorial using latest version of refine.
Everything works as expected but when I open Chrome dev tools I see for both the list view and the show view duplicate
XHR requests are being fired.

### Steps To Reproduce

1. git clone git@github.com:refinedev/refine.git
2. cd refine/examples/tutorial/mui
3. npm install
4. npm run start
5. Open Chrome an

[2022-11-26 16:41] omeraplak commented on #3069
Hey @janlisse ,
Thank you for contacting us. This is because of React's Strict mode behavior. In development mode it renders everything twice.  For more details, https://reactjs.org/docs/strict-mode.html

[2022-11-26 16:41] #3069 closed

[2022-11-26 21:14] janlisse commented on #3069
Thanks for the clarification @omeraplak

[2022-11-27 18:03] samelhusseini opened #3072 "[BUG] queryOptions param in useShow not passed in correctly to useQuery"
### Describe the bug

queryOptions param introduced in #3030 not passed on correctly to `useOne` hook from `useShow` hook.

### Steps To Reproduce

[code]

### Expected behavior

The `queryOptions` are passed through to the `useOne` hook and then in turn to the `useQuery`...

### Screenshot

_No response_

### Desktop

_No response_

### Mobile

_No response_

### Additional Context

_No response_

[2022-11-28 06:40] #3072 closed

[2022-11-28 06:54] #3019 closed

[2022-11-28 06:56] salihozdemir commented on #3055
Hey @ahhshm,
If you can create a PR we'll be very happy 🙏🏻

[2022-11-28 10:36] #3055 closed

[2022-11-29 10:44] cdietze opened #3089 "[BUG] create refine-app refine-mui shows warnings about useEffect usage out-of-the-box"
### Describe the bug

After creating a fresh starter project, warnings about useEffect hook usage are shown in the JS console.
I am not sure which hooks are the cause.

### Steps To Reproduce

1. Create a fresh project using `npm create refine-app -- -o refine-mui tutorial`
2. Start the dev server using `npm run dev`
3. The JS-Console shows warnings:
[code]

### Expected behavior

No warnings out-

[2022-11-29 12:42] aliemir commented on #3089
Hey @cdietze!

Sorry for the issue. We've identified the issue; we get the values of the `notificationProvider` inside a `useMemo` in `<Refine />` component. For the `@pankod/refine-mui`'s notificationProvider we've used `notistack` but since its providing the functions with a hook, we're having this warning as a result. 🤦

We're aiming to release a quick fix 🚀

[2022-11-30 07:13] #3089 closed

[2022-11-30 10:22] omeraplak commented on #3089
Hey @cdietze ,
We've released `@pankod/refine-core@3.90.4`. Could you approve this fix?

[2022-11-30 20:14] cdietze commented on #3089
Yes, I can confirm: the warnings are gone.
Thanks for the quick fix!